*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# APK / build outputs
*.apk
*.aab
*.ap_
*.dex

# Keystore
*.jks
*.keystore

# Google Services
google-services.json

# NDK build outputs
*.so

# Gradle
.gradletasknamecache
